In [4]:
#Import Necessary Libraries
import pandas as pd
from sklearn.linear_model import LogisticRegression
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [5]:
#Loading the dataset and displaying the First Few Rows
iris_data = pd.read_csv('iris.csv')
iris_data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [7]:
# Split the data into features (X) and labels(Y).
x = iris_data.drop(columns=['petal.width', 'variety'])
y = iris_data['variety']

In [10]:
#split the data into training and tesing sets.
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [14]:
#Standardize the features.
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [15]:
#Create a Ml model
model = LogisticRegression()

In [16]:
#train the Model
model.fit(x_train_scaled, y_train)

LogisticRegression()

In [17]:
#Evaluate the model on the testing set
y_pred = model.predict(x_test_scaled)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy : ", accuracy)

Accuracy :  1.0

In [28]:
#sample new data for predication.
new_data = np.array([[5.1, 3.5, 1.4],
                    [6.3, 2.9, 5.6],
                    [4.9, 3.0, 1.4]])

In [29]:
#standardize the new data.
new_data_scaled = scaler.transform(new_data)

C:\Users\pamud\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [31]:
predictions = model.predict(new_data_scaled)

In [32]:
print("Predictions : ", predictions)

Predictions :  ['Setosa' 'Virginica' 'Setosa']