In [3]:
#Import Necessary Libraries
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [6]:
#Loading the dataset and displaying the First Few Rows
iris_data = pd.read_csv('iris.csv')
iris_data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [11]:
# Split the data into features (X) and labels(Y).
x = iris_data.drop(columns=['petal.width', 'variety'])
y = iris_data['variety']

In [12]:
x.head()

   sepal.length  sepal.width  petal.length
0           5.1          3.5           1.4
1           4.9          3.0           1.4
2           4.7          3.2           1.3
3           4.6          3.1           1.5
4           5.0          3.6           1.4

In [14]:
#Create a Ml model
model = LogisticRegression()

In [15]:
#train the Model
model.fit(x.values, y)

LogisticRegression()

In [16]:
predictions = model.predict([[4.6, 3.5, 1.5]])

In [17]:
print(predictions)

['Setosa']